.datepicker
  display grid
  font-family system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  
  
  button
    transition background .3s ease
    
    &:hover
      background #f7
      
  select
    border none
    background #f7
    padding .2em 1em
      
.dp-weekday
  color #24

.dp-day
  border-radius 50%
  
  &:nth-child(7n + 3)
    color red
    
.selected
  background #ef
  font-weight bold
  
.dp-result
  font-size 1.5em
  text-align center
  
.dp-slide
  color #d2
  
  