html 
  min-height 100vh
  
body
  min-height 100vh
  display flex
  flex-direction column
  justify-content center
  font-family 'Open Sans', sans-serif
  
h1
  text-align center   

header
  padding 4rem 2rem
  
main
  display flex
  justify-content center
  align-items center
  
@require datepicker
@require datepicker_theme